.card {
  grid-area: Photograph;
  position: relative;
  width: 35rem;
  height: 19rem;
  transition: 0.5s;

  @media screen and (max-width: 1366px) {
    width: 28rem;
    height: 15.2rem;
  }

  @media screen and (max-width: 500px) {
    width: 21rem;
    height: 11.4rem;
  }

  &:hover {
    height: 36rem;

    @media screen and (max-width: 1366px) {
      height: 28.8rem;
    }

    @media screen and (max-width: 500px) {
      height: 21.6rem;
    }

    .imgBx {
      width: 20rem;
      height: 20rem;

      @media screen and (max-width: 1366px) {
        width: 16rem;
        height: 16rem;
      }

      @media screen and (max-width: 500px) {
        width: 12rem;
        height: 12rem;
      }
    }

    .content .details {
      transform: translateY(0px);
      padding: 3.2rem;

      @media screen and (max-width: 1366px) {
        padding: 2.56rem;
      }

      @media screen and (max-width: 500px) {
        padding: 1.92rem;
      }

      .medias {
        @media screen and (max-width: 500px) {
          margin-top: 2.6rem;
        }
      }
    }
  }
}

.lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60rem;
    height: 12rem;
    background: linear-gradient(
      transparent,
      var(--primary),
      var(--primary),
      var(--primary),
      transparent
    );
    animation: animate 4s linear infinite;

    @media screen and (max-width: 1366px) {
      width: 48rem;
      height: 9.6rem;
    }

    @media screen and (max-width: 500px) {
      width: 69rem;
      height: 7.2rem;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0.3rem;
    background: var(--bgColorDark);

    @media screen and (max-width: 1366px) {
      inset: 0.24rem;
    }

    @media screen and (max-width: 500px) {
      inset: 0.18rem;
    }
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;

  .details {
    padding: 4.5rem;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(14.5rem);

    @media screen and (max-width: 1366px) {
      padding: 3.6rem;
      transform: translateY(11.6rem);
    }

    @media screen and (max-width: 500px) {
      padding: 2.7rem;
      transform: translateY(8.7rem);
    }
  }
}

.imgBx {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 15rem;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;

  @media screen and (max-width: 1366px) {
    top: -4rem;
    width: 12rem;
    height: 12rem;
  }

  @media screen and (max-width: 500px) {
    top: -3rem;
    width: 9rem;
    height: 9rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50rem;
    height: 15rem;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      transparent,
      var(--secondary),
      var(--secondary),
      var(--secondary),
      transparent
    );
    animation: animate2 6s linear infinite;

    @media screen and (max-width: 1366px) {
      width: 40rem;
      height: 12rem;
    }

    @media screen and (max-width: 500px) {
      width: 30rem;
      height: 12rem;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0.3rem;
    background: var(--bgColorDark);

    @media screen and (max-width: 1366px) {
      inset: 0.24rem;
    }

    @media screen and (max-width: 500px) {
      inset: 0.18rem;
    }
  }

  img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    @media screen and (max-width: 1366px) {
      top: 0.8rem;
      left: 0.8rem;
      width: calc(100% - 1.6rem);
      height: calc(100% - 1.6rem);
    }

    @media screen and (max-width: 500px) {
      top: 0.6rem;
      left: 0.6rem;
      width: calc(100% - 1.2rem);
      height: calc(100% - 1.2rem);
    }
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
