@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:wght@300;400;600&display=swap');

$font: 'Poppins';
$font-brush: 'Alex Brush';

$background-color: #1F1F1F;
$font-color: #FBFBFB;