@font-face {
  font-family: 'Mistery Zero';
  src: url(../assets/fonts/Misteryzero-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Cascadia Code';
  src: url(../assets/fonts/CascadiaCode/CascadiaCode-Light.woff2) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url(../assets/fonts/CascadiaCode/CascadiaCode.woff2) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url(../assets/fonts/CascadiaCode/CascadiaCode-SemiBold.woff2) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Cascadia Code';
  src: url(../assets/fonts/CascadiaCode/CascadiaCode-Bold.woff2) format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Trademarker';
  src: url(../assets/fonts/trademarker-light.otf) format('opentype');
}

$font: 'Cascadia Code';
$font-spooky: 'Mistery Zero';
$font-TradeMarker: 'Trademarker';

$background-color: #1a202b;
$font-color: #fbfbfb;

$blue: #45f3ff;
$purple: #573aff;
$other-blue: #1e9bff;
$dark-blue: #2c5784;
