@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'Mistery Zero';
    src: url(../assets/fonts/Misteryzero-Regular.ttf) format('opentype');
}

$font: 'Poppins';
$font-spooky: 'Mistery Zero';

$background-color: #1a202b;
$font-color: #FBFBFB;

$blue: #45f3ff;
$purple: #573aff;
$other-blue: #1e9bff;
$dark-blue: #2C5784;