@import './variables';

body {
    position: relative;
    background-color: $background-color;
    color: $font-color;
    font-family: $font;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, $blue 60%, $purple);
    border-radius: .4rem;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, $blue 20%, $purple);
    border-radius: .4rem;
}

div::selection,
span::selection,
p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
    background-color: mix($blue, #000, 40%);
}