@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 80% 97.5588%;
    --foreground: 216.9231 19.1176% 26.6667%;

    --card: 0 0% 100%;
    --card-foreground: 216.9231 19.1176% 26.6667%;

    --popover: 0 0% 100%;
    --popover-foreground: 216.9231 19.1176% 26.6667%;

    --primary: 162.1132 64.3725% 48.5686%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 93.75% 56.7255%;
    --secondary-foreground: 215 13.7931% 12.1176%;

    --muted: 220 14.2857% 99.8824%;
    --muted-foreground: 220 8.9362% 46.0784%;

    --accent: 180.2683 64.3922% 92%;
    --accent-foreground: 216.9231 19.1176% 26.6667%;

    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;

    --border: 180 40.0435% 86.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 142.0859 70.5628% 45.2941%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2222 48.3684% 6.1765%;
    --foreground: 216 12.1951% 83.9216%;

    --card: 217.2414 40.5843% 12.451%;
    --card-foreground: 216 12.1951% 83.9216%;

    --popover: 217.2414 32.5843% 17.451%;
    --popover-foreground: 216 12.1951% 83.9216%;

    --primary: 158.1132 64.3725% 51.5686%;
    --primary-foreground: 222.2222 47.3684% 11.1765%;

    --secondary: 210.7778 62.0769% 42.9412%;
    --secondary-foreground: 240 5.0279% 64.902%;

    --muted: 217.1429 29.5775% 10.9216%;
    --muted-foreground: 220 8.9362% 52.0784%;

    --accent: 216.9231 19.1176% 26.6667%;
    --accent-foreground: 240 5.0279% 70.902%;

    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 222.2222 47.3684% 11.1765%;

    --border: 215 13.7931% 34.1176%;
    --input: 215 13.7931% 34.1176%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body::after {
    content: '';
    position: fixed;
    background-image: url(/images/noise.webp);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    inset: 0;
    opacity: 0.55;
    z-index: 100;
    pointer-events: none;
  }

  ::selection {
    @apply bg-primary/80 text-primary-foreground;
  }
}

@layer components {
  .link {
    @apply text-primary focus-visible:outline-offset-4 rounded focus-visible:outline-1 outline-ring;
  }

  .card {
    @apply bg-card border rounded-lg p-6 2xl:p-8;
  }

  #project:nth-child(even) > img {
    transform: perspective(1000px) rotateY(-13deg) rotateX(5deg) rotate(1deg) scaleY(0.9)
      scaleX(0.95) translate(-3%) translateY(-3%);
  }

  #project:nth-child(odd) > img {
    transform: perspective(1000px) rotateY(13deg) rotateX(5deg) rotate(1deg) scaleY(0.9)
      scaleX(0.95) translate(3%) translateY(-3%);
  }

  #project > img {
    transition: transform 0.4s ease !important;
  }

  #project > img:hover {
    transform: none;
  }
}
