.box {
  position: relative;
  width: 8.8rem;
  height: 8.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  @media screen and (max-width: 1536px) {
    width: 6.8rem;
    height: 6.8rem;
  }
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.box:hover:before {
  transform: skewX(0deg);
}

.box::before {
  background: linear-gradient(315deg, var(--primaryDark), var(--secondary));
  opacity: 0.3;
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  pointer-events: none;
}

.box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.box:hover span::before {
  top: -25px;
  left: 15px;
  width: 42px;
  height: 42px;
  opacity: 1;

  @media screen and (max-width: 1536px) {
    top: -20px;
    left: 15px;
    width: 32px;
    height: 32px;
  }
}

.box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  animation-delay: -1s;
}

.box:hover span::after {
  bottom: -15px;
  right: -15px;
  height: 42px;
  width: 42px;
  opacity: 1;

  @media screen and (max-width: 1536px) {
    bottom: -10px;
    right: -15px;
    width: 32px;
    height: 32px;
  }
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-4px);
  }
}
