@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #45f3ff;
  --secondary: #573aff;
  --fontColor: #fbfbfb;
  --bgColor: #1a202b;
  --primaryDark: #37c2cc;
  --primaryExtraDark: #15494d;
  --secondaryDark: #462ecc;
  --secondaryExtraDark: #110c33;
  --bgColorDark: #10131a;
  --bgColorExtraDark: #0a0d11;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--primary) 60%, var(--secondary));
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--primary) 20%, var(--secondary));
  border-radius: 0.4rem;
}

::-webkit-scrollbar-track {
  background: var(--bgColor);
}
