.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85vh 105vh 90vh;
  grid-template-areas: 'Photograph' 'About' 'Skills';

  @media screen and (max-width: 500px) {
    grid-template-rows: 85vh 115vh 180vh;
  }
}
