.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 86vh 105vh 92vh;
  grid-template-areas: 'Photograph' 'About' 'Skills';

  @media screen and (max-width: 768px) {
    grid-template-rows: 85vh auto auto;
  }
}
