@import 'styles/_variables.scss';

.Skills {
  height: 100%;
  grid-area: Skills;

  .title-container {
    position: relative;
    margin-left: 10%;
    margin-bottom: 2.8%;

    @media screen and (max-width: 1366px) {
      margin-bottom: 2.6%;
    }

    .S {
      position: absolute;
      font-family: $font-spooky;
      font-size: 12rem;
      color: mix($purple, #000, 20%);
      transform: rotate(-5deg);
      bottom: -20%;
      left: -2%;
      z-index: -1;

      &::selection {
        background-color: transparent;
      }

      @media screen and (max-width: 1366px) {
        font-size: 10rem;
        bottom: -25%;
      }
    }

    .title {
      color: #fbfbfb;
      font-size: 8rem;
      letter-spacing: 1rem;
      font-weight: 600;

      @media screen and (max-width: 1366px) {
        font-size: 6.2rem;
        letter-spacing: 0.8rem;
      }
    }
  }

  .sub-title {
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    margin-bottom: 1.4rem;

    @media screen and (max-width: 1366px) {
      font-size: 3.6rem;
      letter-spacing: 0.4rem;
      margin-bottom: 0.9rem;
    }
  }

  .horizontal-line {
    display: block;
    width: 100%;
    border: 0.16rem solid #fbfbfb;
  }

  .Programing-languages {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin: 0 10%;
  }

  .sub-skills {
    display: flex;
    margin: 0 10%;
    margin-top: 3.2%;
    justify-content: space-between;

    @media screen and (max-width: 1366px) {
      margin-top: 2.28%;
    }
  }

  .language {
    width: 42%;

    .language-type {
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;

      @media screen and (max-width: 1366px) {
        font-size: 1.8rem;
        letter-spacing: 0.15rem;
        margin-bottom: 0.65rem;
        margin-top: 1.6rem;
      }
    }

    .container-progress {
      height: 2rem;
      width: 100%;
      background-color: '#e0e0de';
      border-radius: 2rem;

      @media screen and (max-width: 1366px) {
        height: 1.6rem;
        border-radius: 1.6rem;
      }

      .label {
        opacity: 0;
        animation: fadeIn 1s linear forwards;
        animation-delay: 2.2s;
        position: absolute;
        right: 0.4rem;
        top: -1.5rem;
        color: #fbfbfb;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.15rem;

        @media screen and (max-width: 1366px) {
          font-size: 0.9rem;
          letter-spacing: 0.12rem;
          top: -1.15rem;
        }
      }
    }
  }

  .studies {
    width: 42%;

    .circle {
      animation: book-animation 5s linear forwards;
      min-width: 5rem;
      min-height: 5rem;
      border-radius: 50%;
      background: linear-gradient(180deg, $blue, $purple);
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1366px) {
        min-width: 4rem;
        min-height: 4rem;
      }
    }

    a {
      color: $font-color;
      transition: 0.3s;

      &:hover {
        color: mix($purple, #000, 70%);
      }
    }

    .studies-container {
      display: flex;
      flex-direction: column;
      margin-top: 2%;

      .studies-content {
        margin-top: 7%;
        display: flex;
        align-items: center;
        gap: 5%;

        @media screen and (max-width: 1366px) {
          gap: 3%;
          margin-top: 5%;
        }

        .studies-type {
          font-size: 2.5rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          margin-bottom: 2%;

          @media screen and (max-width: 1366px) {
            font-size: 1.8rem;
            letter-spacing: 0.15rem;
          }
        }

        .studies-complement {
          font-size: 1.2rem;
          font-weight: 300;
          letter-spacing: 0.15rem;

          @media screen and (max-width: 1366px) {
            font-size: 1rem;
            letter-spacing: 0.12rem;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes book-animation {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }

  25% {
    stroke-width: 1;
  }

  60%,
  100% {
    stroke-width: 0.3;
    stroke-dasharray: 100 1;
    fill: mix($blue, #000, 80%);
  }
}
