@import 'styles/_variables.scss';

.Header {
  background: rgba(mix($background-color, #000, 60%), 0.6);

  .container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
  }

  .name {
    font-family: $font-spooky;
    letter-spacing: 0.1rem;
    font-size: 2rem;
  }

  .links {
    display: flex;
    gap: 2.2rem;
    align-items: center;
  }
}
