@import 'styles/variables';

.Photograph {
    display: flex;
    grid-area: Photograph;
    justify-content: center;
    align-items: center;
}

.discordAlert {
    display: none;

    &.active {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 99vw;
        left: 0;
        z-index: 15;
        top: 1rem;

        span {
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: .1rem;
            text-align: center;
            line-height: 1.6rem;
            background-color: mix($blue, #000, 20%);
            border-radius: 1rem;
            border: 2px solid mix($blue, #000, 60%);
            padding: .5rem 1rem;
        }
    }
}

.card {
    grid-area: Photograph;
    position: relative;
    width: 35rem;
    height: 19rem;
    transition: 0.5s;

    &:hover {
        height: 36rem;

        .imgBx {
            width: 20rem;
            height: 20rem;
        }

        .content .details {
            transform: translateY(0px);
            padding: 3.2rem;
        }
    }

    .lines {
        position: absolute;
        inset: 0;
        background: #000;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60rem;
            height: 12rem;
            background: linear-gradient(transparent, $blue, $blue, $blue, transparent);
            animation: animate 4s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            inset: .3rem;
            background: mix($background-color, #000, 50%);
        }
    }

    .imgBx {
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 15rem;
        height: 15rem;
        background: #000;
        transition: 0.5s;
        z-index: 10;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 50rem;
            height: 15rem;
            transform: translate(-50%, -50%);
            background: linear-gradient(transparent, $purple, $purple, $purple, transparent);
            animation: animate2 6s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            inset: .3rem;
            background: mix($background-color, #000, 50%);
        }

        img {
            position: absolute;
            top: 1rem;
            left: 1rem;
            z-index: 1;
            width: calc(100% - 2rem);
            height: calc(100% - 2rem);
        }
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;

        .details {
            padding: 4.5rem;
            text-align: center;
            width: 100%;
            transition: 0.5s;
            transform: translateY(14.5rem);

            h2 {
                font-size: 2.5rem;
                font-weight: 600;
                color: $blue;
                line-height: 2.4rem;

                span {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #fff;
                }
            }

            .medias {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 2.5rem 0;

                svg {
                    opacity: 0.6;
                    width: 3rem;
                    height: auto;
                    cursor: pointer;
                    color: mix($purple, $background-color, 60%);
                }

                a:hover svg {
                    opacity: 1;
                    fill: mix($blue, #000, 80%);

                    path {
                        animation: svg-animation 3s ease alternate;
                    }
                }
            }

            .actionBtn {
                display: flex;
                justify-content: space-between;
                gap: 2rem;


            }
        }
    }
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

}

@keyframes svg-animation {
    0% {
        stroke-width: 0;
        stroke-dasharray: 1 100;
        fill: transparent;
    }

    25% {
        stroke-width: 1;
    }

    60%,
    100% {
        stroke-width: 0.3;
        stroke-dasharray: 100 1;
    }
}