@import 'styles/_variables.scss';

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    position: relative;
    color: $font-color;
    font-weight: 600;
    font-size: 5.5rem;
    letter-spacing: 0.4rem;

    @media screen and (max-width: 1366px) {
      margin-top: 3.5rem;
      margin-bottom: 1.6rem;
      font-size: 5rem;
      letter-spacing: 0.36rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 3.2rem;
      letter-spacing: 0.3rem;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0.6rem;
      height: 2.4rem;
      background: $purple;
      width: 100%;
      box-shadow: 0 0 0.8rem $purple, 0 0 2rem $purple;

      @media screen and (max-width: 1366px) {
        height: 1.8rem;
      }

      @media screen and (max-width: 500px) {
        height: 1rem;
      }
    }
  }

  .sub-title {
    color: $font-color;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;

    @media screen and (max-width: 1366px) {
      font-size: 1.1rem;
      letter-spacing: 0.1rem;
    }
  }

  .projects-container {
    margin-top: 6rem;
    display: flex;
    gap: 8rem;
    flex-direction: column;
    margin-bottom: 5rem;

    @media screen and (max-width: 1366px) {
      margin-top: 4rem;
      gap: 6rem;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: 500px) {
      margin-top: 3rem;
      gap: 4rem;
      margin-bottom: 2rem;
    }
  }

  .repositories-title {
    margin-top: 6rem;
    margin-bottom: 1.8rem;
    position: relative;
    color: $font-color;
    font-weight: 600;
    font-size: 4.6rem;
    letter-spacing: 0.34rem;

    @media screen and (max-width: 1366px) {
      margin-top: 4rem;
      font-size: 4.2rem;
      letter-spacing: 0.28rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 2.6rem;
      letter-spacing: 0.2rem;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0.6rem;
      height: 1.8rem;
      background: $purple;
      width: 100%;
      box-shadow: 0 0 0.8rem $purple, 0 0 2rem $purple;

      @media screen and (max-width: 1366px) {
        height: 1.4rem;
      }

      @media screen and (max-width: 500px) {
        height: 0.8rem;
      }
    }
  }

  .repositories-sub-title {
    color: $font-color;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    margin-bottom: 4rem;

    @media screen and (max-width: 500px) {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-align: center;
      line-height: 1.2rem;
      padding: 0 2rem;
      margin-bottom: 3rem;
    }
  }

  .repositories-container {
    display: grid;
    grid-template-columns: 34rem 34rem;
    grid-template-rows: repeat(auto-fill, 6rem);
    gap: 2rem;
    margin-bottom: 5rem;

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
      width: 85vw;
      margin-bottom: 4rem;
    }

    .repositorie {
      width: 100%;
    }
  }
}
