.container {
  @apply bg-bgColorDark/60;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1rem 10%;

  @media screen and (max-width: 1536px) {
    grid-template-columns: 27.5% 45% 27.5%;
    padding: 1.2rem 10%;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem 10%;
  }
}
