.svg {
  display: block;
  position: absolute;
  overflow: visible;
  filter: blur(8px) saturate(160%);
}

@media screen and (max-width: 2000px) {
  .svg.hiddenMediumHeight {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .svg.hiddenlowHeight {
    display: none;
  }
}
