.inputBox {
  position: relative;
  width: 100%;
  height: 2.5rem;
  color: var(--primaryDark);

  @media screen and (max-width: 1536px) {
    height: 2rem;
  }

  input:focus ~ .line,
  input:valid ~ .line {
    height: 100%;
  }

  input,
  &.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1.125rem;
    padding: 0 0.625rem;
    z-index: 1;
    color: var(--fontColor);
    letter-spacing: 0.1rem;

    @media screen and (max-width: 1536px) {
      font-size: 0.9rem;
      padding: 0 0.5rem;
    }

    &:focus + .text,
    &:valid + .text {
      top: -2.1875rem;
      left: -0.625rem;

      @media screen and (max-width: 1536px) {
        top: -2rem;
        left: -0.5rem;
      }
    }

    &:focus + .line,
    &:valid + .line {
      height: 100%;
    }
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2.5rem;
    font-size: 1.125rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    padding: 0 0.625rem;
    display: block;
    transition: 0.5s;
    pointer-events: none;

    @media screen and (max-width: 1536px) {
      font-size: 1rem;
      padding: 0 0.5rem;
    }
  }

  .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.125rem;
    background: var(--primaryExtraDark);
    transition: 0.5s;
    border-radius: 0.125rem;
    pointer-events: none;
  }

  &.textarea {
    position: relative;
    width: 100%;
    height: 6.25rem;
    padding: 0.625rem 0;

    @media screen and (max-width: 1536px) {
      height: 5rem;
      padding: 0.5rem 0;
    }

    &:focus + .text,
    &:valid + .text {
      top: -2.1875rem;
      left: -0.625rem;
    }

    &:focus + .line,
    &:valid + .line {
      height: 100%;
    }

    textarea {
      height: 100%;
      resize: none;
      color: var(--fontColor);

      &:focus ~ .line,
      &:valid ~ .line {
        height: 100%;
      }
    }
  }
}
